.token {
    height: 18px;
    vertical-align: middle;
}

.quote {
    padding: 0.25rem;
}

// .warning {
//     border: rgb(194, 238, 1);
//     border-style: dashed;
//     border-width: 3px;
// }


// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

// h3 {
//     margin: 40px 0 0;
//   }

// ul {
//   list-style-type: none;
//   padding: 0;
// }

// li {
//   display: inline-block;
//   margin: 0 10px;
// }
// p {
//   font-size: 1rem;
//   margin: 0.9rem 0 !important;
//   line-height: 1.2rem;
// }

// button{
//   background: transparent;
//   border: 2px solid #000!important;
//   border-radius: 0.25rem!important;
//   padding-top: 0.5rem !important;
//   padding-bottom: 0.5rem !important;
//   padding-left: 1rem !important;
//   padding-right: 1rem !important;
//   width: 10rem !important;
//   -webkit-appearance: button;
//   // font-family: "open sans", sans-serif;
//   font-size: 100%;
//   cursor: pointer;
// }
